@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 14px;
}
    
@screen md{
    html{
        font-size: 16px;
    }
}
    

/* Typography */

@font-face {
  font-family: 'Inter';
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../fonts/inter.woff2') format('woff2');
}


body{
@apply font-text text-primary-dark font-light pt-12 px-4;
background: white;
}

[data-colorway="reverse"]{
@apply text-white;
    a{
        @apply text-white;
        text-shadow: none;
    }
}

h1,h2,h3,h4{
    @apply font-display mt-0 mb-6;
}

h1,h2,h3,h4,p{
@apply max-w-prose mx-auto;
}

h1{
    @apply text-3xl font-medium;
}
h2{
    @apply text-2xl font-medium;
}
h3{ 
    @apply text-xl font-medium mt-12;
}

a{
  @apply font-normal;
}

p{
    @apply text-base mb-4 mt-0 font-light;
    letter-spacing: -0.01em;
    & a{
        text-decoration: none;
        position: relative;
        @apply border-primary-accent;
        border-bottom: 1px solid;
    }
    & a:hover{
        @apply border-primary-accent;
        border-bottom-width: 2px;
    }
}

strong{
  @apply font-medium;
}

.image{
  @apply mb-12;
}

.image img{
  background: aliceblue;
  @apply p-4 mb-2;
}

.video-wrapper{
  position:relative;
  width:100%;
  height:0;
}

.video-wrapper video{
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: none;
}

ul{
  @apply pl-2 mb-6;
  li{
    list-style: disc;
    list-style-position: inside;
  }
}

blockquote{
  @apply font-medium block pl-4 mb-6 border-primary-accent italic;
  line-height: 1.68;
  border-left-width: 3px;
  border-left-style: solid;
}

button{
  text-decoration: none;
  position: relative;
  transition: all .1s linear;
  border-bottom-width: 1px;
  @apply border-primary-accent;
}

/* Layout */

body{
  @apply flex flex-col font-text;
  height: 100vh;
}

.intro{
  @apply max-w-sm mx-auto px-4;
}

header{
  @apply max-w-2xl w-full mx-auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    bottom: -1rem;
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in{
  position:relative;
  animation-duration: .5s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
}

.fade-in-up{
  position:relative;
  animation-duration: .4s;
  animation-name: fadeInUp;
  animation-timing-function: ease-out;
}



main{
  @apply mb-32;
}

main.home{
  @apply flex items-center justify-center;
}

main.resume{
  @apply px-4;
  & section{
    @apply mb-16;
    & p{
      @apply mb-8;
      & strong{
        @apply block mb-3;
      }
    }
  }
  .entry{
    @apply font-text mb-4;
    h3{
        @apply mb-2;
    }
    p.subhead{
        @apply font-display mb-3;
        line-height: 1.2;
    }
  }
}

section.project{
  @apply pt-12 pb-0 max-w-2xl mx-auto;
}

.stripe{
  @apply flex items-start max-w-2xl mx-auto;
  flex-wrap: wrap;
  & .image{
    @apply mb-12;
  }
  & figcaption{
    @apply mt-2;
  }
  &[data-item-count="1"]{
    & .image{
      @apply w-full max-w-2xl mx-auto;
    }
  }
  &[data-item-count="2"]{
    & .image{
      @apply w-full max-w-2xl mx-auto;
    }
  }
  &[data-item-count="3"]{
    & .image{
      @apply w-full max-w-2xl mx-auto;
    }
  }
  &[data-item-count="4"]{
    & .image{
      @apply w-full max-w-2xl mx-auto;
    }
  }
}

figcaption{
  @apply text-sm font-display font-normal text-secondary-dark;
}

[data-colorway="reverse"]{
  & figcaption{
    color: #fff;
  }
}

.project-intro{
  @apply max-w-2xl mx-auto mb-12;
}

.story-type{
  @apply text-xs text-secondary-dark font-medium;
  text-transform: uppercase;
}

.tags{
  @apply mb-6 text-xs text-secondary-dark; 
}

h2 + .tags{
  margin-top: -1.5rem;
}

[data-colorway="reverse"]{
  & .tags{
    & .tag{
      border: 1px solid white;
    }
  }
}

.project__header{
  @apply max-w-sm mx-auto;
}

.two-column-container{
  @apply flex max-w-2xl mx-auto;
  flex-wrap: wrap;
}

footer{
  @apply p-6 mx-auto w-full text-center font-display;
  flex-basis: 2rem;
}

@screen md{
  .two-column-container{
    flex-wrap: nowrap;
    & .column-left{
      @apply text-right pr-12;
    }
  }
  .stripe{
    flex-wrap: nowrap;
    &[data-item-count="1"]{
      & .image{
        &.xlarge{
          @apply max-w-3xl;
        }
      }
    }
    &[data-item-count="2"]{
      & .image{
        @apply w-1/2 pr-4;
      }
    }
    &[data-item-count="3"]{
      & .image{
        @apply w-1/3 pr-4;
      }
    }
    &[data-item-count="4"]{
      flex-wrap: wrap;
      & .image{
        @apply w-1/2 pr-4;
      }
    }
  }
}

/* Navigation */

nav{
  @apply text-sm pb-3 border-primary-accent border-b;
}

.logo{
    width: 2rem;
    height: 2rem;
  }
  
/* Glide */

/* Glide core */
.glide{position:relative;width:100%;box-sizing:border-box}.glide *{box-sizing:inherit}.glide__track{overflow:hidden}.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}.glide__slides--dragging{user-select:none}.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.glide__arrows{-webkit-touch-callout:none;user-select:none}.glide__bullets{-webkit-touch-callout:none;user-select:none}.glide--rtl{direction:rtl}

/* Glide theme */
/* .glide__arrow{position:absolute;display:block;top:50%;z-index:2;color:white;text-transform:uppercase;padding:9px 12px;background-color:transparent;border:2px solid rgba(255,255,255,0.5);border-radius:4px;box-shadow:0 0.25em 0.5em 0 rgba(0,0,0,0.1);text-shadow:0 0.25em 0.5em rgba(0,0,0,0.1);opacity:1;cursor:pointer;transition:opacity 150ms ease, border 300ms ease-in-out;transform:translateY(-50%);line-height:1}.glide__arrow:focus{outline:none}.glide__arrow:hover{border-color:white}.glide__arrow--left{left:2em}.glide__arrow--right{right:2em}.glide__arrow--disabled{opacity:0.33}.glide__bullets{position:absolute;z-index:2;bottom:2em;left:50%;display:inline-flex;list-style:none;transform:translateX(-50%)}.glide__bullet{background-color:rgba(255,255,255,0.5);width:9px;height:9px;padding:0;border-radius:50%;border:2px solid transparent;transition:all 300ms ease-in-out;cursor:pointer;line-height:0;box-shadow:0 0.25em 0.5em 0 rgba(0,0,0,0.1);margin:0 0.25em}.glide__bullet:focus{outline:none}.glide__bullet:hover,.glide__bullet:focus{border:2px solid white;background-color:rgba(255,255,255,0.5)}.glide__bullet--active{background-color:white}.glide--swipeable{cursor:grab;cursor:-moz-grab;cursor:-webkit-grab}.glide--dragging{cursor:grabbing;cursor:-moz-grabbing;cursor:-webkit-grabbing} */


.glide{
  @apply mb-12;
  background: aliceblue;
}

.glide__slides{
  @apply mb-0;
}

.glide__slide{
  @apply p-4 mb-0;
  list-style: none;
}

.glide__footer{
  @apply flex pt-4;
  background: white;
  align-items: baseline;
  justify-content: space-between;
}
.glide__navigation{
  @apply text-xs;
}
.glide__arrow--left{
  @apply mr-2;
}