@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 14px;
}
    
@screen md{
    html{
        font-size: 16px;
    }
}
    
@screen lg{
    html{
        font-size: 18px;
    }
}    
    

/* Typography */

/* @font-face {
    font-family: 'Quebec';
    src: url('../../fonts/Quebec-Bold.woff2') format('woff2'),
        url('../../fonts/Quebec-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quebec';
    src: url('../../fonts/Quebec-Italic.woff2') format('woff2'),
        url('../../fonts/Quebec-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quebec';
    src: url('../../fonts/Quebec-Regular.woff2') format('woff2'),
        url('../../fonts/Quebec-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../../fonts/CooperHewitt-Bold.woff2') format('woff2'),
        url('../../fonts/CooperHewitt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../../fonts/CooperHewitt-Book.woff2') format('woff2'),
        url('../../fonts/CooperHewitt-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */


@font-face {
    font-family: 'Loretta';
    src: url('../../fonts/Loretta-Regular.woff2') format('woff2'),
        url('../../fonts/Loretta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loretta';
    src: url('../../fonts/Loretta-Italic.woff2') format('woff2'),
        url('../../fonts/Loretta-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Loretta';
    src: url('../../fonts/Loretta-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Loretta-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Loretta';
    src: url('../../fonts/Loretta-Bold.woff2') format('woff2'),
        url('../../fonts/Loretta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* @font-face {
    font-family: "MDNichrome";
    src: url('../../fonts/MDNichrome-Variable.woff') format("woff-variations");
    src: url('../../fonts/MDNichrome-Variable.woff2') format("woff2-variations");
    font-weight: 100 1000;
    font-style: normal;
  }

@font-face {
    font-family: "NameSans";
    src: url('../../fonts/AT-NameSansVariable-Upright.woff2') format("woff2-variations");
    font-weight: 100 1000;
    font-style: normal;
} */


body{
@apply font-text text-primary-dark;
background: ghostwhite;
}

[data-colorway="reverse"]{
@apply text-white;
    a{
        @apply text-white;
        text-shadow: none;
    }
}

h1,h2,h3,h4{
    @apply font-display mt-0 mb-6;
}

h1,h2,h3,h4,p{
@apply max-w-lg mx-auto;
}

h1{
    @apply text-5xl;
    font-stretch: 87.5%;
    font-variation-settings: "wdth" 87.5;
    font-weight: 600;
    font-variation-settings: "wght" 600;
}
h2{
    @apply text-3xl;
    font-stretch: 87.5%;
    font-variation-settings: "wdth" 87.5;
    font-weight: 600;
    font-variation-settings: "wght" 600;
}
h3{ 
    @apply text-xl;
    font-stretch: 90%;
    font-variation-settings: "wdth" 90;
    font-weight: 500;
    font-variation-settings: "wght" 500;
    line-height: 1.4;
}

a{
@apply text-primary-accent;
}

p{
    @apply leading-snug text-base mb-4 mt-0;
    & a{
        @apply italic;
        text-decoration: none;
        position: relative;
        border-bottom: 2px solid transparent;
        transition: all .2s ease-out;
    }
    & a:hover{
        @apply border-primary-accent;
        border-bottom: 1px solid;
    }
}

/* Layout */

body{
  @apply flex flex-col font-text;
  height: 100vh;
}

.intro{
  @apply max-w-sm mx-auto px-4;
}

header{
  @apply p-6;
  flex-basis: 4rem;
}

.header{
  @apply py-12 text-center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    bottom: -1rem;
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in{
  position:relative;
  animation-duration: .5s;
  animation-name: fadeIn;
  animation-timing-function: ease-out;
}

.fade-in-up{
  position:relative;
  animation-duration: .4s;
  animation-name: fadeInUp;
  animation-timing-function: ease-out;
}



main{
  flex-basis: 100%;
  & .intro{
  }
}

main.home{
  @apply flex items-center justify-center;
}

main.resume{
  @apply px-4;
  & section{
    @apply mb-16;
    & p{
      @apply mb-8;
      & strong{
        @apply block mb-3;
      }
    }
  }
  .entry{
    @apply font-text mb-4;
    h3{
        @apply mb-2;
    }
    p.subhead{
        @apply font-display mb-3;
        line-height: 1.2;
    }
  }
}

section.project{
  @apply pt-12 px-6 pb-0;
  background: white;
}

.stripe{
  @apply flex items-start max-w-4xl mx-auto;
  flex-wrap: wrap;
  & .image{
    @apply mb-12;
    & figcaption{
      @apply mt-2;
    }
  }
  &[data-item-count="1"]{
    & .image{
      @apply w-full max-w-xl mx-auto;
    }
  }
  &[data-item-count="2"]{
    & .image{
      @apply w-full max-w-xl mx-auto;
    }
  }
  &[data-item-count="3"]{
    & .image{
      @apply w-full max-w-xl mx-auto;
    }
  }
  &[data-item-count="4"]{
    & .image{
      @apply w-full max-w-xl mx-auto;
    }
  }
}

figcaption{
  @apply text-xs font-display opacity-75;
  font-stretch: 90%;
  font-variation-settings: "wdth" 90;
  font-weight: 400;
  font-variation-settings: "wght" 400;

}

[data-colorway="reverse"]{
  & figcaption{
    color: #fff;
  }
}

.project-intro{
  @apply max-w-lg mx-auto mb-12;
}

.tags{
  @apply mb-6;
  & .tag{
    text-transform: uppercase;
    @apply text-sm inline-block font-display px-3 pt-1 pb-1 mr-2 mb-2 border border-solid border-primary-dark;
    font-stretch: 90%;
    font-variation-settings: "wdth" 90;
    font-weight: 400;
    font-variation-settings: "wght" 400;
  }
}

[data-colorway="reverse"]{
  & .tags{
    & .tag{
      border: 1px solid white;
    }
  }
}

.project__header{
  @apply max-w-sm mx-auto;
}

.two-column-container{
  @apply flex max-w-2xl mx-auto;
  flex-wrap: wrap;
}

footer{
  @apply p-6 mx-auto w-full text-center font-display;
  flex-basis: 2rem;
}

@screen md{
  .two-column-container{
    flex-wrap: nowrap;
    & .column-left{
      @apply text-right pr-12;
    }
  }
  .stripe{
    flex-wrap: nowrap;
    &[data-item-count="1"]{
      & .image{
        &.xlarge{
          @apply max-w-3xl;
        }
      }
    }
    &[data-item-count="2"]{
      & .image{
        @apply w-1/2 pr-4;
      }
    }
    &[data-item-count="3"]{
      & .image{
        @apply w-1/3 pr-4;
      }
    }
    &[data-item-count="4"]{
      flex-wrap: wrap;
      & .image{
        @apply w-1/2 pr-4;
      }
    }
  }
}

/* Navigation */

.logo{
    width: 2rem;
    height: 2rem;
  }
  nav{
    @apply max-w-xs mx-auto;
    & ul{
      list-style: none;
      @apply flex justify-between items-center pl-0;
    }
    & .nav-item{
      position:relative;
      z-index:5;
      @apply font-display;
      & a{
        text-decoration: none;
        text-shadow: 0px 1px 0px ghostwhite, 1px 0px 0px ghostwhite, -1px 0px 0px ghostwhite;
      }
    }
    & .nav-item:after{
      content:'';
      display: block;
      position: absolute;
      bottom: -.25rem;
      left: 0;
      width: 0px;
      height: .125rem;
      transition: all ease-out 150ms;
      z-index:-1;
      @apply bg-primary-accent;
    }
    & .nav-item.active:after, & .nav-item:hover:after{
      width: 100%;
    }
    & .nav-item.active a{
      @apply text-primary-dark;
    }
  }
  

